* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-size: 3vmin;
  line-height: 2em;
  letter-spacing: 0.05em;
  text-align: justify;
  margin: 50px 0;
  padding: 0 30px;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  height: 100vh;
  background-color: #577eff;
  position: relative;
  overflow: hidden;
}
#shape {
  position: absolute;
  left: 0;
  bottom: -2vw;
}
img:not(#shape) {
  position: absolute;
  left: 0;
}
header img:nth-child(1) {
  opacity: 0.4;
  bottom: -0.1vw;
  animation: move-1 5s infinite;
}
@keyframes move-1 {
  50% {
    transform: translateY(15px);
  }
}
header img:nth-child(2) {
  opacity: 0.3;
  bottom: 0.5vw;
  animation: move-2 4s infinite;
}
@keyframes move-2 {
  50% {
    transform: translateY(35px);
  }
}
header img:nth-child(3) {
  bottom: 0.3vw;
  opacity: 0.2;
  animation: move-3 3.5s infinite;
}
@keyframes move-3 {
  50% {
    transform: translateY(25px);
  }
}
header img:nth-child(4) {
  bottom: 0.1vw;
  opacity: 0.3;
  animation: move-4 3s infinite;
}
@keyframes move-4 {
  50% {
    transform: translateY(20px);
  }
}
header h1 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  font-size: 8vmin;
  text-align: center;
  color: #ffffff;
}
section p {
  font-family: "Poppins", sans-serif;
  padding: 30px 35px;
  margin-top: 50px;
  text-align: justify;
  line-height: 2em;
  letter-spacing: 0.5px;
}
