* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-size: 3vmin;
  line-height: 2em;
  letter-spacing: 0.05em;
  text-align: justify;
  margin: 50px 0;
  padding: 0 30px;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #16191E;
}
header{
    background-color: #2A88E6;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    padding: 10px 0;
}
h3{
    font-size: 50px;
}
h5{
    font-size: 30px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px,1fr)
    );
    grid-gap: 30px;
}
img{
    width: 100%;
}
.content{
    display: none;
}
.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}
.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
