* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-size: 3vmin;
  line-height: 2em;
  letter-spacing: 0.05em;
  text-align: justify;
  margin: 50px 0;
  padding: 0 30px;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ae9cff;
}
.container {
  font-size: 1.3em;
  width: 25em;
  background: linear-gradient(-240deg, #8468ff 70%, #785bf7 70%);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 4.5em 1.3em;
  border-radius: 0.4em;
  box-shadow: 0 1.3em 1.8em rgba(94, 72, 181, 0.25);
}
.container h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1em;
  word-spacing: 0.4em;
}
